.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.seasonsFlex{
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}
.season{
  width: 60%;
}
body {
  background-color: #015E2C
}
header {
  background-color: #FAF400;
  padding: 10px;
}
#paginate{
  display: flex;
  flex-direction: row;
}
.charactersList{
  list-style: '🏌️‍♂️';
}
.seasonsList{
  list-style: '📺';
}
.quotesList{
  list-style: '🎤';
}
.seriesColumn{
  background-color: #CB0033;
  /* margin-left: 10px;
  margin-right: 5%; */
  padding: 2%;
  border-style: solid;
  border-color: black;
}
ul{
  list-style-type: none;
}
li{
  margin-top: 2px;
}
#characterImage{
  width: 30%;
}
#title{
  margin-left: 10px;
}
#form{
  margin-left: 10px;
}
#mainDiv{
  display: flex;
  justify-content: center;
}